#home-root {
  width: 100vw;
  height: calc(100vh - 70px);
  position: absolute;
  margin-top: 70px;
  overflow: hidden scroll;
}

#home-bg-img {
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  object-fit: fill;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  #home-root {
    height: calc(100vh - 80px);
    margin-top: 80px;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  #home-root {
    height: calc(100vh - 80px);
    margin-top: 80px;
  }
  #home-root::-webkit-scrollbar {
    width: 10px;
  }

  #home-root::-webkit-scrollbar-track {
    background-color: black;
  }

  #home-root::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
  }

  #home-root::-webkit-scrollbar-thumb:hover {
    background-color: var(--sec-color);
  }
}
