#home-root {
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden scroll;
  margin-top: 80px;
}

#home-bg-img {
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  object-fit: fill;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  #home-root {
    height: 100vh;
    margin-top: 80px;
  }
}
