.videos-page-root {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 10% 0;
}

.videos-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.videos-page-copy {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.videos-page-copy h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline var(--sec-color);
  font-family: var(--main-font);
  color: var(--main-color);
}

.videos-page-copy p {
  font-size: 16px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.videos-page-cards {
  width: 100%;
  gap: 20px;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

.videos-page-card-title {
  font-size: 24px;
  text-align: center;
  color: var(--main-color);
}

.videos-page-card-date {
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
  color: var(--main-color);
}

.videos-page-card-CTA {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.videos-page-card-asset {
  width: 100%;
  border-radius: 2px;
  object-fit: contain;
  position: relative;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .videos-page-root {
    padding: 10% 0;
  }

  .videos-page-copy {
    gap: 30px;
  }

  .videos-page-copy h2 {
    font-size: 48px;
  }

  .videos-page-copy p {
    font-size: 20px;
  }

  .videos-page-cards {
    gap: 30px;
    padding-top: 10%;
  }

  .videos-page-card-title {
    font-size: 24px;
  }

  .videos-page-card-date {
    font-size: 16px;
    text-align: center;
  }

  .videos-page-card-CTA {
    padding: 30px 0;
  }

  .videos-page-card-asset {
    border-radius: 3px;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .videos-page-root {
    width: 90%;
    padding: 5% 0;
  }

  .videos-page-content {
    display: flex;
    flex-direction: column;
  }

  .videos-page-copy {
    width: 70%;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .videos-page-copy h2 {
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--main-color);
  }

  .videos-page-copy p {
    font-size: 20px;
    font-family: var(--sec-font);
    color: var(--main-color);
  }

  .videos-page-cards {
    gap: 50px;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .videos-page-card-title {
    font-size: 24px;
    text-align: center;
    color: var(--main-color);
  }

  .videos-page-card-date {
    font-size: 14px;
    text-align: center;
    opacity: 0.6;
    color: var(--main-color);
  }

  .videos-page-card-CTA {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }

  .videos-page-card-asset {
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
    position: relative;
  }
}
