.colabs-page-root {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 10% 0;
}

.colabs-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.colabs-page-copy {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.colabs-page-copy h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline var(--sec-color);
  font-family: var(--main-font);
  color: var(--main-color);
}

.colabs-page-copy p {
  font-size: 16px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.colabs-page-page-cards {
  width: 100%;
  gap: 20px;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

.colabs-page-card-title {
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
}

.colabs-page-card-date {
  font-size: 14px;
  text-align: center;
  opacity: 0.6;
  color: var(--main-color);
}

.colabs-page-card-CTA {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* ------------------ FULL SCREEN IMG -------------------- */

.colabs-page-card-asset-open {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 300;
}

.colabs-page-card-asset-close {
  width: 100%;
  border-radius: 2px;
  object-fit: contain;
  position: relative;
}

.full-screen-close-button {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 400;
}

.full-screen-close-button button {
  color: var(--main-color);
  min-width: 0;
  padding: 20px;
  font-size: 30px;
}

.full-screen-bg-blank {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: black;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .colabs-page-root {
    padding: 5% 0;
  }

  .colabs-page-content {
    margin: 0 auto;
    width: 80%;
  }

  .colabs-page-copy {
    gap: 25px;
  }

  .colabs-page-copy h2 {
    font-size: 36px;
  }

  .colabs-page-copy p {
    font-size: 16px;
  }

  .colabs-page-page-cards {
    gap: 25px;
    padding-top: 10%;
  }

  .colabs-page-card-title {
    font-size: 20px;
  }

  .colabs-page-card-date {
    font-size: 12px;
  }

  .colabs-page-card-CTA {
    padding: 25px 0;
  }

  /* ------------------ FULL SCREEN IMG -------------------- */

  .colabs-page-card-asset-close {
    border-radius: 3px;
  }

  .full-screen-close-button button {
    min-width: 0;
    padding: 30px;
    font-size: 40px;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .colabs-page-root {
    width: 90%;
    padding: 5% 0;
  }

  .colabs-page-content {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .colabs-page-copy {
    margin: 0 auto;
    width: 70%;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .colabs-page-copy h2 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--main-color);
  }

  .colabs-page-copy p {
    width: 80%;
    font-size: 16px;
    font-family: var(--sec-font);
    color: var(--main-color);
  }

  .colabs-page-page-cards {
    gap: 50px;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .colabs-page-card-title {
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
  }

  .colabs-page-card-date {
    font-size: 14px;
    text-align: center;
    opacity: 0.6;
    color: var(--main-color);
  }

  .colabs-page-card-CTA {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }

  /* ------------------ FULL SCREEN IMG -------------------- */

  .colabs-page-card-asset-open {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 300;
  }

  .colabs-page-card-asset-close {
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
    position: relative;
  }

  .colabs-page-card-asset-close:hover {
    cursor: pointer;
  }

  .full-screen-close-button {
    position: fixed;
    right: 0%;
    top: 0%;
    z-index: 400;
  }

  .full-screen-close-button button {
    color: var(--main-color);
    min-width: 0;
    padding: 30px;
    font-size: 40px;
  }

  .full-screen-bg-blank {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: black;
  }
}
