.welcoming-page-root {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcoming-page-ashes-asset {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
}

.welcoming-page-click-me-asset {
  width: 50%;
  z-index: 1;
  rotate: -5deg;
  object-fit: contain;
  position: relative;
  animation: welcomingScaleAnimation 2s ease-in-out infinite,
    welcomingOpacityAnimation 0.8s ease-in 0.3s backwards;
}

.welcoming-page-bg-img {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .welcoming-page-click-me-asset {
    width: 30%;
  }
  .welcoming-page-ashes-asset {
    display: none;
  }
}

/* ------------------------------------------------------------ DESKTOP QUERY --------------*/

@media (min-width: 1181px) {
  .welcoming-page-ashes-asset {
    display: block;
    pointer-events: none;
  }
  .welcoming-page-click-me-asset {
    width: 30%;
  }
  .welcoming-page-click-me-asset:hover {
    cursor: pointer;
  }
}
