.projects-vids-page-root {
  width: 80%;
  height: min-content;
  color: var(--main-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 25%;
}

.projects-vids-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-vids-page-copy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}

.projects-vids-page-copy h2 {
  font-size: 38px;
  display: flex;
  margin-right: auto;
  line-height: var(--line-heigth);
  color: var(--main-color);
}

.projects-vids-page-copy p {
  font-size: 16px;
  display: flex;
  margin-right: auto;
  line-height: 20px;
  padding-top: 15px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.card-display-vid-content {
  height: 50%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.projects-vids-page-CTA {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .projects-vids-page-copy {
    margin-bottom: 10%;
  }

  .projects-vids-page-copy h2 {
    font-size: 60px;
  }

  .projects-vids-page-copy p {
    font-size: 26px;

    line-height: 30px;
    padding-top: 30px;
  }

  .card-display-vid-content {
    height: 60%;
  }
}
