.contact-page-root {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 10% 0;
}

.contact-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-page-content h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline var(--sec-color);
  font-family: var(--main-font);
  color: var(--main-color);
}

.contact-page-content p {
  font-size: 16px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.contact-page-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-page-copy {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-page-CTA-button {
  width: 100%;
  padding: 15% 0;
  display: flex;
  justify-content: center;
}

.contact-page-email-form {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .contact-page-root {
    padding: 10% 0;
  }

  .contact-page-content {
    gap: 30px;
  }

  .contact-page-content h2 {
    font-size: 48px;
  }

  .contact-page-content p {
    font-size: 20px;
  }

  .contact-page-body {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .contact-page-copy {
    width: 45%;
    gap: 30px;
  }

  .contact-page-CTA-button {
    padding: 10% 0;
  }

  .contact-page-email-form {
    gap: 30px;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .contact-page-root {
    width: 90%;
    padding: 5% 0;
  }

  .contact-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-page-content h2 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--main-color);
  }

  .contact-page-content p {
    font-size: 16px;
    font-family: var(--sec-font);
    color: var(--main-color);
    width: 80%;
  }

  .contact-page-body {
    width: 100%;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .contact-page-copy {
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .contact-page-CTA-button {
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
  }

  .contact-page-email-form {
    width: 60%;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
