.contact-page-root {
  width: 80%;
  height: min-content;
  color: var(--main-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 25%;
}

.contact-page-content {
  width: 100%;
  height: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.contact-page-copy {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-page-copy h2 {
  font-size: 38px;
  margin-right: auto;
  text-align: left;
  line-height: var(--line-heigth);
  color: var(--main-color);
}

.contact-page-copy i {
  font-size: 30px;
}

.contact-page-copy p {
  font-size: 16px;
  display: flex;
  margin-right: auto;
  line-height: 20px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.contact-page-CTA-button {
  margin: 10% 0;
  display: flex;
  margin-left: auto;
}

.contact-page-email-text {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

.contact-page-copy-email-button i {
  width: min-content;
  height: min-content;
  font-size: inherit;
  color: inherit;
}
