.contact-page-root {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 10% 0;
  border: 1px dotted white;
}

.contact-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px dotted white;
}

.contact-page-copy {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-page-copy h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--main-color);
}

.contact-page-copy p {
  font-size: 16px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.contact-page-CTA-button {
  width: 100%;
  padding: 10% 0;
  display: flex;
  justify-content: center;
  border: 1px dotted white;
}

.contact-page-email-text {
  text-decoration: underline;
  font-weight: bold;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .contact-page-content {
    gap: 45px;
  }

  .contact-page-copy h2 {
    font-size: 60px;
  }

  .contact-page-copy i {
    font-size: 40px;
  }

  .contact-page-copy p {
    font-size: 26px;
    padding-top: 30px;
    line-height: 30px;
  }

  .contact-page-copy-email-button i {
    font-size: inherit;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .contact-page-root {
    width: 80%;
    height: min-content;
    position: relative;
    margin: 0 auto;
    margin-top: 0%;
  }

  .contact-page-content {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-page-copy {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .contact-page-copy h2 {
    font-size: 50px;
    display: flex;
    margin-right: 0;
    align-items: center;
    line-height: var(--line-heigth);
  }

  .contact-page-copy i {
    font-size: 40px;
  }

  .contact-page-copy p {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
    text-align: center;
    margin-right: 0;
  }

  .contact-page-CTA-button {
    margin: 0;
    margin-top: 5%;
    display: flex;
    align-items: center;
  }

  .contact-page-copy-email-button i {
    width: min-content;
    height: min-content;
    font-size: inherit;
    color: inherit;
  }
}
