.nav-mobile-root {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
}
.nav-mobile-content {
  height: 80px;
  width: 100%;
  overflow: hidden;
  background-color: hsla(0, 0%, 10%, 1); /* go back to black once setted */
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-mobile-slide-root-close {
  width: 300px;
  height: 100vh;
  right: -80%;
  position: fixed;
  display: flex;
  background-color: red;
  transition: right 0.5s cubic-bezier(0.59, 0.22, 0.46, 0.99);
}

.nav-mobile-slide-root-open {
  width: 300px;
  height: 100vh;
  right: 0%;
  position: fixed;
  display: flex;
  background-color: blue;
  transition: right 0.5s cubic-bezier(0.59, 0.22, 0.46, 0.99);
}

.nav-mobile-slide-icon {
  width: min-content;
  height: min-content;
  position: absolute;
  font-size: 30px;
  margin: 25px;
  left: -80px;
}

.nav-mobile-main-logo {
  height: 100%;
  width: min-content;
  object-fit: cover;
  display: flex;
}
