.disclaimer-comp-root {
  width: 100%;
  height: min-content;
  position: relative;
  background-color: var(--invert-color);
  margin-top: 25%;
}

.disclaimer-comp-copy {
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.disclaimer-comp-copy h5 {
  color: var(--main-color);
  opacity: 0.3;
  text-align: center;
}

.disclaimer-comp-copy p {
  text-align: center;
  font-size: 8px;
  opacity: 0.3;
  padding: 0 20px;
  color: var(--main-color);
  line-height: 10px;
  font-family: var(--sec-font);
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .disclaimer-comp-root {
    margin-top: 30%;
    bottom: 10%;
  }

  .disclaimer-comp-copy {
    gap: 8px;
    padding: 20px 0;
  }

  .disclaimer-comp-copy h5 {
    font-size: 24px;
  }

  .disclaimer-comp-copy p {
    font-size: 16px;
    padding: 0 30px;
    line-height: 15px;
  }
}
