.disclaimer-comp-root {
  width: 100%;
  position: relative;
  background-color: var(--invert-color);
  margin-top: 20%;
}

.disclaimer-comp-copy {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 8px;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

.disclaimer-comp-copy h5 {
  color: var(--main-color);
  font-family: var(--main-font);
  opacity: 0.3;
}

.disclaimer-comp-copy p {
  color: var(--main-color);
  font-family: var(--sec-font);
  text-align: center;
  font-size: 8px;
  opacity: 0.3;
}

.disclaimer-comp-copy i {
  color: var(--main-color);
  font-family: var(--sec-font);
  font-size: 10px;
  opacity: 0.3;
  line-height: 10px;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .disclaimer-comp-root {
    margin-top: 30%;
    bottom: 10%;
  }

  .disclaimer-comp-copy {
    gap: 8px;
    padding: 20px 0;
  }

  .disclaimer-comp-copy h5 {
    font-size: 24px;
  }

  .disclaimer-comp-copy p {
    font-size: 16px;
    padding: 0 30px;
    line-height: 15px;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .disclaimer-comp-root {
    width: 100vw;
    height: min-content;
    position: relative;
    background-color: var(--invert-color);
    margin-top: 15%;
    margin-bottom: -10%;
  }

  .disclaimer-comp-copy {
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .disclaimer-comp-copy h5 {
    color: var(--main-color);
    opacity: 0.3;
    text-align: center;
  }

  .disclaimer-comp-copy p {
    text-align: center;
    font-size: 10px;
    opacity: 0.3;
    padding: 0 100px;
    color: var(--main-color);
    line-height: 10px;
    font-family: var(--sec-font);
  }
}
