.disclaimer-comp-root {
  width: 100%;
  height: min-content;
  position: relative;
  background-color: var(--invert-color);
  margin-top: 25%;
}

.disclaimer-comp-copy {
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.disclaimer-comp-copy h5 {
  color: var(--main-color);
  opacity: 0.4;
  text-align: center;
}

.disclaimer-comp-copy p {
  text-align: center;
  line-height: 10px;
  color: var(--main-color);
  font-size: 8px;
  opacity: 0.4;
  padding: 0 20px;
}
