.landing-page-root {
  width: 80%;
  height: min-content;
  color: var(--main-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.landing-page-content {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.landing-page-content img {
  height: 400px;
  object-fit: cover;
}

.landing-page-copy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-copy h2 {
  font-size: 34px;
  display: flex;
  margin-right: auto;
}

.landing-page-CTA {
  width: 100%;
  height: min-content;
  margin-top: 10%;
  gap: 10px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
