.mainButton {
  color: var(--invert-color);
  border: 1px solid var(--invert-color);
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 16px;
  background: var(--main-color);
  transition: all 0.2s ease-in-out;
}

.secButton {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 16px;
  background: var(--invert-color);
}

.ghostButton {
  color: var(--main-color);
  border: 1px solid transparent;
  padding: 12px 20px;
  font-size: 16px;
  background: transparent;
}

.linkButton {
  color: var(--main-color);
  border: 1px solid transparent;
  padding: 12px 20px;
  font-size: 16px;
  background: transparent;
  font-style: italic;
  text-decoration-line: underline;
}
