.mainButton {
  color: var(--invert-color);
  border: 1px solid var(--invert-color);
  background: var(--sec-color);
  font-family: var(--main-font);
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 16px;
  min-width: 180px;
}

.secButton {
  color: var(--sec-color);
  border: 1px solid var(--sec-color);
  background: var(--invert-color);
  font-family: var(--main-font);
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 16px;
  min-width: 180px;
}

.ghostButton {
  color: var(--sec-color);
  font-family: var(--main-font);
  border: 1px solid transparent;
  background: transparent;
  padding: 12px 20px;
  font-size: 16px;
  min-width: 180px;
}

.linkButton {
  color: var(--sec-color);
  font-family: var(--main-font);
  border: 1px solid transparent;
  background: transparent;
  padding: 12px 20px;
  font-size: 16px;
  min-width: 180px;

  font-style: italic;
  text-decoration-line: underline;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .mainButton {
    border: 2px solid var(--invert-color);
    padding: 14px 24px;
    border-radius: 3px;
    font-size: 20px;
    min-width: 240px;
  }

  .secButton {
    border: 2px solid var(--sec-color);
    padding: 14px 24px;
    border-radius: 3px;
    font-size: 20px;
    min-width: 240px;
  }

  .ghostButton {
    border: 3px solid transparent;
    padding: 14px 24px;
    font-size: 20px;
    min-width: 240px;
  }

  .linkButton {
    border: 3px solid transparent;
    padding: 14px 24px;
    font-size: 20px;
    min-width: 240px;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .mainButton {
    border: 2px solid var(--invert-color);
    padding: 14px 24px;
    border-radius: 3px;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
  }

  .secButton {
    border: 2px solid var(--sec-color);
    padding: 14px 24px;
    border-radius: 3px;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
  }

  .ghostButton {
    border: 2px solid transparent;
    padding: 14px 24px;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
  }

  .linkButton {
    border: 2px solid transparent;
    padding: 14px 24px;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
  }

  .mainButton:hover {
    opacity: 0.85;
    scale: 1.01;
  }
  .secButton:hover {
    opacity: 0.85;
    scale: 1.01;
  }
  .ghostButton:hover {
    opacity: 0.85;
    scale: 1.01;
  }
  .linkButton:hover {
    opacity: 0.85;
    scale: 1.01;
  }
}
