.mainButton {
  color: var(--invert-color);
  border: 1px solid var(--invert-color);
  background: var(--sec-color);
  font-family: var(--main-font);
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 16px;
}

.mainButton:hover {
  opacity: 0.9;
  scale: 0.95;
}

.secButton {
  color: var(--sec-color);
  border: 1px solid var(--sec-color);
  background: var(--invert-color);
  font-family: var(--main-font);
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 16px;
}

.secButton:hover {
  opacity: 0.9;
  scale: 0.95;
}

.ghostButton {
  color: var(--sec-color);
  font-family: var(--main-font);
  border: 1px solid transparent;
  background: transparent;
  padding: 12px 20px;
  font-size: 16px;
}

.ghostButton:hover {
  opacity: 0.9;
  scale: 0.95;
}

.linkButton {
  color: var(--sec-color);
  font-family: var(--main-font);
  border: 1px solid transparent;
  background: transparent;
  padding: 12px 20px;
  font-size: 16px;
  font-style: italic;
  text-decoration-line: underline;
}

.linkButton:hover {
  opacity: 0.9;
  scale: 0.95;
}
