.about-page-root {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 10% 0;
}

.about-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-page-content img {
  width: 100%;
  min-height: 150px;
  padding-top: 10%;
  padding-bottom: 10%;
  width: auto;
  object-fit: contain;
}

.about-page-copy {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-page-copy-content {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-page-copy-content h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline var(--sec-color);
  font-family: var(--main-font);
  color: var(--main-color);
}

.about-page-copy-content p {
  font-size: 16px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.about-page-copy-content img {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: contain;
  border-radius: 2px;
}

.about-page-copy-content video {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.about-page-CTA {
  width: 100%;
  height: min-content;
  gap: 10px;
  padding-top: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .about-page-root {
    padding: 5% 0;
  }

  .about-page-content img {
    width: 100%;
    min-height: 100px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .about-page-copy-content {
    width: 80%;
    margin: 0 auto;
    gap: 25px;
  }

  .about-page-copy-content h2 {
    font-size: 36px;
  }

  .about-page-copy-content p {
    font-size: 16px;
  }

  .about-page-copy-content img {
    padding: 0;
    border-radius: 3px;
  }

  .about-page-copy-content video {
    border-radius: 3px;
  }

  .about-page-CTA {
    gap: 25px;
    padding-top: 10%;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .about-page-root {
    width: 90%;
    padding: 5% 0;
  }

  .about-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-page-content img {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    object-fit: contain;
  }

  .about-page-copy {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .about-page-copy-content {
    width: 100%;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about-page-copy-content h2 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--main-color);
  }

  .about-page-copy-content p {
    font-size: 16px;
    font-family: var(--sec-font);
    color: var(--main-color);
  }

  .about-page-copy-content img {
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: contain;
    border-radius: 3px;
  }

  .about-page-copy-content video {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }

  .about-page-CTA {
    width: 100%;
    height: min-content;
    gap: 10px;
    padding-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
