:root {
  font-family: Helvetica, Arial, sans-serif;
  --main-color: white;
  --sec-color: red;
  --ter-color: orange;
  --invert-color: black;

  overflow: hidden;
  color: var(--main-color-text);
  background-color: var(--invert-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}
