.projects-draws-page-root {
  width: 80%;
  height: min-content;
  color: var(--main-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 25%;
}

.projects-draws-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-draws-page-copy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
  gap: 15px;
}

.projects-draws-page-copy h2 {
  font-size: 34px;
  display: flex;
  margin-right: auto;
}

.projects-draws-page-copy p {
  font-size: 16px;
  display: flex;
  margin-right: auto;
}

.card-display-img-content {
  height: 50%;
  object-fit: contain;
}

.projects-draws-page-CTA {
  width: 100%;
  display: flex;
  justify-content: center;
}
