.projects-draws-root {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 10% 0;
  border: 1px dotted white;
}

.projects-draws-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px dotted white;
}

.projects-draws-copy {
  width: 100%;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projects-draws-copy h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--main-color);
}

.projects-draws-copy p {
  font-size: 16px;
  font-family: var(--sec-font);
  color: var(--main-color);
}

.projects-draws-cards {
  width: 100%;
  gap: 20px;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  border: 1px dotted white;
}

.projects-draws-card-title {
  font-size: 24px;
  text-align: center;
  color: var(--main-color);
}

.projects-draws-card-date {
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
  color: var(--main-color);
}

.projects-draws-card-CTA {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* ------------------ FULL SCREEN IMG -------------------- */
.projects-draws-card-asset-open {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 300;
}

.projects-draws-card-asset-close {
  width: 100%;
  border-radius: 2px;
  object-fit: contain;
  position: relative;
}

.full-screen-close-button {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 400;
}

.full-screen-close-button button {
  color: var(--main-color);
  min-width: 0;
  font-size: 30px;
}

.full-screen-bg-blank {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: black;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .projects-draws-copy {
    margin-bottom: 15%;
  }

  .projects-draws-copy h2 {
    font-size: 60px;
  }

  .projects-draws-copy p {
    font-size: 26px;
    line-height: 30px;
    padding-top: 30px;
  }

  .projects-draws-cards {
    gap: 40px;
  }

  .card-display-img-content {
    height: 60%;
  }
}

/* ------------------------------------------------------------ DESKTOP MEDIA QUERY ------------------*/

@media (min-width: 1181px) {
  .projects-draws-root {
    width: 80%;
    height: min-content;
    position: relative;
    margin: 0 auto;
    margin-top: 0%;
  }

  .projects-draws-copy {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .projects-draws-copy h2 {
    font-size: 50px;
    display: flex;
    margin-right: 0;
    line-height: var(--line-heigth);
  }

  .projects-draws-copy p {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
    margin-right: 0;
  }

  .projects-draws-cards {
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  /* ------------------ FULL SCREEN IMG -------------------- */

  .projects-draw-card-asset:hover {
    cursor: pointer;
  }

  .projects-draws-card-asset-open {
    height: 100vh;
    width: 100vw;
  }
}
