.projects-draws-page-root {
  width: 80%;
  height: min-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 25%;
}

.projects-draws-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-draws-page-copy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}

.projects-draws-page-copy h2 {
  font-size: 38px;
  display: flex;
  margin-right: auto;
  line-height: var(--line-heigth);
  color: var(--main-color);
}

.projects-draws-page-copy p {
  margin-right: auto;
  display: flex;
  font-family: var(--sec-font);
  color: var(--main-color);
  font-size: 16px;
  padding-top: 15px;
  line-height: 20px;
}

.projects-draws-page-cards {
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-display-img-content {
  height: 60%;
  object-fit: contain;
}

.projects-draws-page-CTA {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ------------------ FULL SCREEN IMG -------------------- */

.projects-draws-fullscreen-asset {
  width: 100%;
  height: 70%;
  background-color: aqua;
}
.projects-draws-fullscreen-asset:hover {
  cursor: pointer;
}
.projects-draws-asset-close-button {
  width: fit-content;
  height: fit-content;
  display: flex;
  right: 0;
  top: -40px;
  margin-left: auto;
  position: absolute;
}
.projects-full-screen-loader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-display-img-content-close {
}

.projects-full-screen-img-open div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

/* ------- full screen img FullScreen closed  ------ */

.projects-full-screen-img-close {
  display: default;
}
.projects-full-screen-img-close:hover {
  cursor: pointer;
}
.projects-full-screen-img-close span {
  display: none;
}

.projects-full-screen-img-close div {
  display: none;
}

/* ------------------------------------------------------------ TABLET QUERY --------------*/

@media (min-width: 601px) {
  .projects-draws-page-copy {
    margin-bottom: 15%;
  }

  .projects-draws-page-copy h2 {
    font-size: 60px;
  }

  .projects-draws-page-copy p {
    font-size: 26px;
    line-height: 30px;
    padding-top: 30px;
  }

  .projects-draws-page-cards {
    gap: 40px;
  }

  .card-display-img-content {
    height: 60%;
  }
}
